<div class="contenido menu-centered">
<% if user_signed_in? %>
	<h1> <b>¡Hola!</b> <%= current_user.name %></h1>
	<span> Comienza tu dósis de motivación ahora. </span>
	<% else %>
	<h1><b>¿Qué es lo que te inspira?</b></h1>
	<span> Somos la comunidad perfecta para ti. </span>
	<%end%>	
	<div class="index-articles top-bar" id="posts" style="background:none;">
<%= render 'article' %>
</div>

<div class="index-articles title-bar" id="postsmobile" style="background:none;color:black;">
<%= render 'article' %>
</div>
</div>