<div class="contenido">
<div id="post_show">
	<h1 class="big"><%= @article.title %></h1>
	<div class="description"> <%= simple_format(@article.body) %> </div>
	
	<div id="comments">
		<%= render 'disqus'%>
	</div>
</div>
</div>