<div class="contenido">
	<div class="acerca-cover small-centered small-12 large-10"><%= image_tag("acerca.jpg") %></div>
		<div class="row nosotros">
			<div class="columns small-centered small-12 large-10 acerca-p myv" align="center">
			<p><b style="color:white;">ZONA UNIVERSITARIA</b> <i>es una plataforma de servicios de comunicaci칩n digital que ofrece soluciones de alto impacto para la comunidad universitaria.</i></p>
			</div>
		</div>
		<div class="row">
			<div class="columns small-centered small-12 myv">
				<div class="columns small-12 large-6 acerca box-mision" align="center">
					<h1 align="center" class="titulo-acerca"> <b>Misi칩n</b> </h1>
					<p><i>Ofrecer la mejor experiencia de usuario en cada uno de nuestros servicios.</i></p>
				</div>
				<div class="columns small-12 large-6 acerca box-vision" align="center">
					<h1 align="center" class="titulo-acerca"> <b>Visi칩n</b> </h1>
					<p><i>Convertirnos en el principal medio digital m치s usado a nivel nacional por toda la comunidad universitaria.</i></p>
				</div>
			</div>
		</div>
</div>