<div class="contenido">
<h1 align="center" class="titulo-acerca"> <b>Empleos</b></h1>
	<div class="row">
		<div class="columns small-centered small-12 medium-8 acerca-p" align="justify">
			<p>Estamos en busca de personas con talento para unirse a nuestro equipo. </p><br/><hr/>
			<p align="center" style="font-size:30px;"><b>Bloggers</b></p>
			<p>Siempre estamos en busca de personas apasionadas como tú, que les guste escribir, compartir lo que piensan, sus experiencias e ideas.</p>
			<p><b>Requisitos</b><br/><ul class="padding-left"><li>Excelente ortografía</li><li>Apasionados por escribir</li><li>Calidad de contenido (Cada blogger tiene su estilo)</li><li>Trabajo en equipo</li><li>Buena actitud</li></ul></p>
			<br/>
			<p align="center" style="font-size:25px;"><b>¿Te interesa ser Blogger?</b></p>
			<a href="mailto:team@zonauniversitaria.com.mx?Subject=Me%20interesa%20ser%20Blogger&amp;body=¡Cuéntanos%20por%20qué%20te%20gustaría%20colaborar%20con%20nosotros!%20:)" class="columns small-centered button" style="font-size:18px;font-weight: bold;">Aplicar ahora</a><hr/>
		</div>
	</div>
</div>