<div class="fondo">
	<h1 class="index-dance" align="center" style="color:white;font-weight:bold;font-size: 40px;padding-left:10px;padding-right:10px;">La comunidad perfecta para ti...</h1>
</div>
<div class="fondo-grey">
	<h1 class="index-dance" align="center" style="color:white;font-weight:bold;font-size: 40px;padding-left:10px;padding-right:10px;">Visita nuestro <a href="/articles" class="link-blog">blog</a></h1>
</div>
