<div class="contenido">
<h1 align="center" class="titulo-acerca"> <b>Política de privacidad</b></h1>
	<div class="row">
		<div class="columns small-centered small-12 medium-8 acerca-p" align="justify">
			<p class="acerca-p"><b>Efectiva desde el 10 de junio del 2016</b></p>
			<p>Para nosotros tu privacidad es importante. Nuestro objetivo es hacer más de lo que tenemos que hacer por ley: queremos que sepas que somos cuidadosos con tus datos.</p><br/>
			<p><b>General</b><br/>Esta política establece nuestras prácticas de privacidad y explica la forma en la que manejamos la información que obtenemos cuando visitas y usas nuestros sitios, servicios, aplicaciones móviles, productos y contenido («Servicios»).</p><br/>
			<p><b>Información que recopilamos</b><br/>Recopilamos información sobre las páginas de ZONA UNIVERSITARIA a las que accedes, información sobre tu dispositivo móvil (tales como el dispositivo o el tipo de navegador), la información que nos envías (como la dirección de correo electrónico utilizada en el registro o al comunicarte con nosotros), e información referida.</p>
			<p>Cuando utilizas los Servicios de ZONA UNIVERSITARIA, podemos recopilar y almacenar tu dirección de protocolo de Internet. Podemos utilizar esta información para combatir el spam y otros abusos; personalizar los Servicios de ZONA UNIVERSITARIA; o para generar información colectiva no identificable acerca de cómo las personas utilizan los Servicios de ZONA UNIVERSITARIA.</p>
			<p>Cuando creas tu cuenta de Medium, y te autentificas mediante un servicio de terceros como Facebook, podemos recopilar, almacenar y actualizar periódicamente las listas de contacto asociadas con esas cuentas de terceros, para que puedas conectar con contactos existentes de esos servicios que también están en ZONA UNIVERSITARIA.</p><br/>
			<p><b>Correos electrónicos</b><br/>En ocasiones te enviaremos correos electrónicos administrativos sobre cambios en la cuenta o el servicio o nuevas políticas. No puedes evitar recibirlos. Siempre puedes elegir si recibir o no e-mails no administrativos, como los resúmenes diarios.</p>
			<p>Nunca solicitaremos tu contraseña u otra información sobre tu cuenta por correo electrónico. Si recibes un correo de este tipo, envíanoslo para que podamos investigarlo.</p><br/>
			<p><b>Divulgación de tu información</b><br/>Por norma, no compartimos tu información personal fuera de la empresa.</p>
			<p>No venderemos nunca tu información personal.</p>
			<p>Podemos compartir tu información personal con terceros en circunstancias limitadas, incluyendo: 1) con tu consentimiento; 2) a un proveedor o socio que cumple con nuestras normas de protección de datos; o 3) cuando en buena fe sea requerido por la ley, como por ejemplo en virtud de una orden judicial u otro proceso legal.</p>
			<p>Si vamos a compartir tu información en respuesta a un proceso legal, te avisaremos previamente para que puedas oponerte a ella (por ejemplo, solicitando la intervención del tribunal), a menos que no podamos hacerlo por ley u orden judicial. Nos opondremos a cualquier solicitud de información sobre los usuarios de nuestro sitio que creamos inadecuada.</p>
			<p>Si nos fusionamos con otra empresa de forma que tu información pase a ser objeto de una política de privacidad diferente, te lo notificaremos antes de la transferencia. Puedes optar por no aceptar la nueva política eliminando tu cuenta durante el período de notificación.</p><br/>
			<p><b>Cookies</b><br/>Utilizamos cookies y tecnologías similares, como píxeles y almacenamiento local, para reconocer cuando vuelves a nuestros Servicios. Las usamos de diversas formas, por ejemplo para tu conexión, recordar tus ajustes (como el idioma por defecto), evaluar la efectividad del correo electrónico, mostrar anuncios relevantes y personalizar la información.</p>
			<p>Respetamos la configuración de no seguimiento («DNT» por sus siglas en inglés: Do Not Track [ENG]) de los navegadores. Si has cerrado sesión en nuestros Servicios y tienes la DNT activada, no guardaremos cookies. No puedes iniciar sesión en Medium mientras la DNT está activa.</p>
			<p>Algunos servicios de terceros, como Google Analytics, pueden colocar sus propias cookies en tu navegador. Esta Política de privacidad cubre únicamente el uso de las cookies por parte de ZONA UNIVERSITARIA y no por parte de terceros.</p><br/>
			<p><b>Almacenamiento de información</b><br/>ZONA UNIVERSITARIA utiliza proveedores y hospedajes externos, como Heroku y Amazon, para el hardware, el software, la red, el almacenamiento y la tecnología relacionada necesaria para mover ZONA UNIVERSITARIA.</p>
			<br/>
			<p><b>Modificación de tu información personal o eliminación de la cuenta</b><br/>Si tienes una cuenta de ZONA UNIVERSITARIA, puedes acceder y modificar tu información personal o eliminar tu cuenta <a href="/users/edit">aquí</a>.</P>
			<p>Para proteger la información de la destrucción accidental o maliciosa, no eliminaremos inmediatamente las copias residuales de nuestros servidores activos ni eliminaremos la información de nuestros sistemas de copia de seguridad.</p>
			<p>Si eliminas tu cuenta, tu cuenta y el contenido puede ser irrecuperable.</p><br/>
			<p><b>Seguridad de la información</b><br/>Utilizamos el cifrado (HTTPS) para proteger la información transmitida desde y hacia nuestro sitio. Sin embargo, ninguna transmisión de datos a través de Internet es 100% segura, por lo que no podemos garantizar la seguridad. Utilizas el Servicio bajo tu propio riesgo y eres responsable de tomar las medidas razonables para asegurar tu cuenta (como usar una contraseña segura).</p>
			<br/>
			<p><b>Cambios a estas Políticas</b><br/>ZONA UNIVERSITARIA puede actualizar periódicamente esta Política. Te notificaremos sobre los cambios significativos en ella. La versión más actualizada de la política siempre estará aquí.</p>
		</div>
	</div>
</div>