<div class="contenido">
<h1 align="center"> <%= @user.name %></h1>
<% if user_signed_in? and current_user.can_follow?(@user.id) %>
<div align="center"><button class="button btn-follow" id="follow_btn" data-friend="<%= @user.id %>">Follow</button></div>
<%end%>
</div>